@charset "UTF-8";
/* TODO! */
* {
  margin: 0;
  padding: 0;
  font-family: "Chivo Mono", monospace;
  font-family: "Varela Round", sans-serif;
}

/* ########### variables SASS ############# */
.row {
  --bs-gutter-x: 0;
}

/* ############# CONFIG GRAL ############# */
/* TEXTOS */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  padding: 10px;
  top: 0;
}

h3 {
  padding-right: 0;
  margin-right: 0;
  top: 0;
}

p {
  margin-bottom: 0;
}

.orange {
  color: #ec741d;
}

.black {
  color: black;
}

.darkblue {
  color: rgb(12, 12, 94);
}

.cursiva {
  font-style: oblique;
}

.negrita {
  font-weight: bold;
}

.alineaIzq {
  text-align: start;
}

/* FIN TEXTOS */
.imagenResponsive {
  max-width: 100%;
  height: auto;
}

.imageBorder {
  padding: 0;
  box-shadow: 0 0 5px rgb(39, 41, 37);
}

/* FIN IMÁGENES */
/* PADDING */
.padding10 {
  padding: 10px;
}

.padding20 {
  padding: 20px;
}

.paddingTitulo {
  padding: 30px;
}

.paddingR10 {
  padding-right: 10px;
}

.padding0100 {
  padding: 0 100px;
}

.paddingTop10 {
  padding-top: 10px;
}

.paddingTop20 {
  padding-top: 20px;
}

.paddingBottom10 {
  padding-bottom: 10px;
}

.paddingBottom20 {
  padding-bottom: 20px;
}

/* FIN PADDING */
/* MARGIN */
.margin10 {
  margin: 10px;
}

.margin20 {
  margin: 20px;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginLeft50 {
  margin-left: 50px;
}

.margin050 {
  margin: 0 50px;
}

.marginTop5 {
  margin-top: 5px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop30 {
  margin-top: 30px;
}

.marginTop50 {
  margin-top: 50px;
}

.marginTop70 {
  margin-top: 70px;
}

.marginTop100 {
  margin-top: 100px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.marginBottom50 {
  margin-bottom: 50px;
}

/* FIN MARGIN */
.positionControlIcon {
  justify-content: flex-start;
}

/* ########### FIN CONFIG GRAL ########### */
#whatsapp .whatsapp {
  position: fixed;
  transform: all 0.5s ease;
  background-color: #25d366;
  display: block;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border-right: none;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  bottom: 180px;
  Right: 20px;
  border: 0;
  z-index: 9999;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

#whatsapp .whatsapp:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

#whatsapp .whatsapp:focus {
  border: none;
  outline: none;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
/* ############ MEDIA QUERYS ################ */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px) {
  /* los titulos de las páginas tienen un margen de 100 en desktop.
  En mobile, como navbar mas chico, hay más separación, achico un poco */
  .marginTop100 {
    margin-top: 70px;
  }
}
@media screen and (max-width: 992px) {
  .cotaImagenSection {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 600px) {
  div.marginTop0 {
    margin-top: 50px;
  }
}
@media screen and (min-width: 992px) {
  div.marginTop0 {
    margin-top: 0px;
  }
  .row {
    column-gap: 5px;
    flex-wrap: nowrap;
  }
  /* carousel (index). Lo desplazo hacia arriba,
  pero al hacerlo, hago que el navbar quede arriba del carousel
  y opaco de color blanco 
  */
  .carousel {
    margin-top: -50px;
  }
  .navbar {
    z-index: 1;
  }
  .carousel-control-prev {
    z-index: 0;
  }
}
/* ########## FIN MEDIA QUERYS ############### */
/* ########### PAG AUTOGESTION ############ */
/* CAROUSEL */
/* el fondo es blanco, los botones no se ven, así que invierto sus colores*/
.blackIcon {
  filter: invert(108%);
}

div.carousel-item.active {
  padding-top: 0;
  margin-top: 0;
  /* background-color: #ec741d; */
}

/* ME QUEDA MUCHO MARGEN entre la imagen y container */
/* CORREGIR */
.carouselContainer {
  padding: 0;
  box-shadow: 0 0 10px rgb(39, 41, 37);
}

.flexEnd {
  display: flex;
  align-items: flex-end;
}

/* FIN CAROUSEL */
/* inspired form gumroad website */
.button {
  margin-left: 5px;
  border-radius: 4px;
  padding: 0em 0.3em;
  background: white;
  transition: 0.2s;
}
.button:hover {
  color: black;
  transform: translate(-0.25rem, -0.25rem);
  background: white;
  box-shadow: 0.25rem 0.25rem #383838;
}
.button:active {
  transform: translate(0);
  box-shadow: none;
}

.orange {
  color: #ec741d;
}

.orange2 {
  color: #ff5f4f;
}

.bigger {
  font-size: 50px;
}

/* ######### FIN PAG AUTOGESTION ########### */
/* ############# PAG SERVICIOS ############# */
.botones-container {
  display: flex;
}

.servicioContainer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.servicios {
  width: 50%;
}

.agrandar {
  transition: transform 2s;
}

.agrandar:hover {
  transform: scale(1.1);
  /* se puede agregar mas de un transform a un elemento, poniendo espacio */
}

/* ############ BOTON DESCARGA PROPUESTA ############ */
button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsla(0, 0%, 0%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, #eb7927 0%, #f87a20 8%, #f87a20 92%, #eb7927 100%);
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #ec741d;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button:hover {
  filter: brightness(110%);
}

button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.972);
}

.svgIcon {
  fill: #ec741d;
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid #ec741d;
  border-left: 2px solid #ec741d;
  border-right: 2px solid #ec741d;
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: #ec741d;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ec741d;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: #ec741d;
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* ########### FIN PAG SERVICIOS ########### */
/* ############ MEDIA QUERYS ################ */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px) {
  /* pag servicios */
  .servicioContainer {
    flex-direction: column;
  }
  .servicios {
    width: 80%;
  }
}
/* ########## FIN MEDIA QUERYS ############### */
/* ########### variables SASS ############# */
/* ################ FOOTER ################ */
#footer {
  background-color: #ec741d;
  background-size: cover;
  box-shadow: 0 0 15px #383838;
}

/* custom clase bootstrap */
.row {
  margin-right: 0;
  row-gap: 25px;
}

.rowFooter {
  row-gap: 0;
}

/* logo del footer mas grande */
.logoBigger {
  width: 150px;
  height: 150px;
}

.logoFooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainerNoIndex {
  padding: 15px 0;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div.logoFooterContainer {
  height: 100%;
}

.logoFooter {
  width: 50px;
  height: 50px;
}

/* custom clase bootstrap */
div.col-4 {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.irArribaContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: start;
  justify-content: start;
  justify-items: start;
}

.footerText {
  margin-top: 20px;
  color: black;
}

.paddingBottom10,
#footer div h4 {
  padding-bottom: 10px;
}

/* links comunicate con nosotros */
div.aContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: start;
  justify-items: end;
}

.infoContainer {
  display: flex;
  justify-content: center;
}

/* clase para los a del footer*/
.links {
  text-decoration: none;
  color: black;
}

.linkSinColor {
  text-decoration: none;
}

/* iconos de las redes en el footer */
.iconos {
  display: flex;
  width: 30px;
  height: 30px;
}

.iconos:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.ubicacion {
  color: red;
}

.black {
  color: black;
}

.linkHover:hover {
  color: white;
}
.linkHover:hover .iconos {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.paddingBotomFooter {
  padding-bottom: 20px;
}

/* derechos de autor iconos footer */
/* comodin */
.inline {
  display: inline;
}

.block {
  display: block;
}

.derechos {
  color: white;
  font-size: 10px;
}

/* ############## FIN FOOTER ############## */
/* ############ MEDIA QUERYS ################ */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px) {
  /* footer: los botones que se dispongan en columnas en lugar de fila */
  .paddingBottomMobile {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .logoBigger {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
/* ########## FIN MEDIA QUERYS ############### */
/* ########### variables SASS ############# */
/* ############## FORM #################### */
.formulario {
  background-color: #ec741d;
}

.margin20 {
  margin: 20px;
}

.botones-container {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

/* ############# INPUT IMPORTADO ############# */
/* https://uiverse.io/eslam-hany/strange-goose-48#fromHistory */
.input {
  padding: 10px;
  height: 40px;
  border: 2px solid #0B2447;
  border-top: none;
  border-bottom: none;
  font-size: 16px;
  background: white;
  outline: none;
  box-shadow: 7px 7px 0px 0px #0B2447;
  transition: all 0.5s;
}

.input:focus {
  box-shadow: none;
  transition: all 0.5s;
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #0B2447;
  transition: all 0.5s;
  transform: scale(0);
  z-index: -1;
}

.input-container .topline {
  position: absolute;
  content: "";
  background-color: #0B2447;
  width: 0%;
  height: 2px;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.input-container input[type=text]:focus ~ .topline {
  width: 35%;
  transition: all 0.5s;
}

.input-container .underline {
  position: absolute;
  content: "";
  background-color: #0B2447;
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}

.input-container input[type=text]:focus ~ .underline {
  width: 100%;
  transition: all 0.5s;
}

.input-container input[type=text]:focus ~ .label {
  top: -10px;
  transform: scale(1);
  transition: all 0.5s;
}

.form {
  --width-of-input: auto;
  --border-height: 1px;
  --border-before-color: $white-color;
  --border-after-color: $orange-color;
  --input-hovered-color: $darkblue-color;
  position: relative;
  width: var(--width-of-input);
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* styling of Input */
.input {
  color: black;
  font-size: 0.9rem;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

/* styling of animated border */
.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

/* Hover on Input */
input:hover {
  /* background: var(--input-hovered-color); */
  background: white;
}

input:focus {
  outline: none;
}

/* here is code of animated border */
input:focus ~ .input-border {
  width: 100%;
}

/* ############## FIN INPUT IMPORTADO ################ */
/* ############ Botón "Rojo" customizados ############ */
form fieldset div button.boton {
  position: relative;
  width: 145px;
  border: none;
  background: white;
  color: black;
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  letter-spacing: 1px;
  box-shadow: 7px 7px 0px 0px #0B2447;
}

button.boton:hover {
  color: #ec741d;
}

button.boton:active {
  top: 4px;
  box-shadow: 7px 7px 0px 0px #0B2447;
}

/* ############ FIN Botón "Rojo" ############ */
/* ############ CUADRO DE TEXTO IMPORTADO ############ */
/* https://uiverse.io/ahmed150up/chilly-rattlesnake-8 */
.card {
  width: 260px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #0B2447;
}

.chat-header {
  background-color: #0B2447;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-window {
  height: 220px;
  overflow-y: scroll;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid white;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #0B2447;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 4px 18px 0 #0B2447;
}

/* input text area */
.textArea {
  padding: 10px;
  border-top: none;
  border-bottom: none;
  font-size: 16px;
  background: white;
  outline: none;
  resize: none;
  box-shadow: 7px 7px 0px 0px #0B2447;
  transition: all 0.5s;
}

.textArea:focus {
  box-shadow: none;
  transition: all 0.5s;
}

/* ######## FIN DE CUADRO DE TEXTO IMPORTADO ######### */
/* ################## FIN FORM #################### */
/* ################# MEDIA QUERYS ################### */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px) {
  /* footer: los botones que se dispongan en columnas en lugar de fila */
  .botones-container {
    flex-direction: column;
    align-items: center;
    /* justify-content: start; */
  }
}
/* ############# FIN MEDIA QUERYS ################## */
.nosotrosContainer {
  align-items: flex-start;
}

.nosotros {
  font-size: x-large;
  margin-left: 20px;
}

.sombra {
  box-shadow: 0 0 15px #383838;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenMain {
  top: 10px;
  box-shadow: 0 0 15px #383838;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 20px;
}

.imagenMainContainer {
  background-color: #ec741d;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 25px;
}

/* cursor arriba del accodion */
.cursor {
  width: 50px;
  height: 50px;
}

/* ############### ACCORDION ############### */
/* acordeon / accordion custom colores bootstrap index */
.accordion-button:not(.collapsed) {
  background-color: #ec741d;
  --bs-accordion-btn-focus-box-shadow: white;
  color: black;
}

.accordion-button:focus {
  border: solid 3px #ec741d;
  --bs-accordion-btn-focus-box-shadow: white;
}

/* ########### FIN ACCORDION ############ */
.centrado {
  justify-content: center;
}

.stretch {
  display: flex;
  align-items: stretch;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: #172236;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.pBook, .pBookHover {
  font-size: 20px;
  font-weight: bolder;
}

.pBookHover:hover {
  font-size: 23px;
}

/* ########### variables SASS ############# */
/* ############## HEADER ################## */
.logoHeader {
  width: 40px;
  height: 40px;
}

.logoHeader2 {
  width: 250px;
  height: 50px;
}

/* navbar: cambio el background color de bootstrap */
.navColor {
  background-color: white;
  justify-content: space-evenly;
  --bs-bg-opacity: 1;
}

.navbar {
  padding: 7px;
}

/* navbar: agrego sombra */
.navShadow {
  box-shadow: 0 0 15px #383838;
}

.navbar-toggler {
  color: #ec741d;
}

.nav-link {
  color: black;
}

/* navbar: que se vea el logo para todo device*/
.navbar-brand {
  display: contents;
}

/* #################################################### */
/* navbar: animacion underline when hover */
/* fuente: https://www.youtube.com/watch?v=wQx6fIkmJpM */
.underline {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ec741d;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.underline:hover:after {
  transform: scale(1);
  transform-origin: bottom left;
}

/* ########################################## */
/* ############ FIN DE HEADER ############### */
/* ############ MEDIA QUERYS ################ */
@media screen and (max-width: 992px) {
  .cotaImagenSection {
    width: 250px;
    height: 250px;
  }
  .navbar div, .navbar a,
  .navbar-nav {
    align-items: center;
  }
}
/* ########## FIN MEDIA QUERYS ############### */

/*# sourceMappingURL=style.css.map */
