/* ########### variables SASS ############# */
// colores
$orange-color: #ec741d;
$white-color: white;
$black-color: black;
$red-color: red;
$shadow-color: #383838;

/* ################ FOOTER ################ */
#footer{
    background-color: $orange-color;
    background-size: cover;
    box-shadow: 0 0 15px $shadow-color;
}

/* custom clase bootstrap */
.row{
    margin-right: 0;
    row-gap: 25px;
}

.rowFooter{
    row-gap: 0;
}

/* logo del footer mas grande */
.logoBigger{
    width: 150px;
    height: 150px;
}

.logoFooterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainerNoIndex{
    padding: 15px 0;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.logoFooterContainer{
    height: 100%;
}

.logoFooter{
    width: 50px;
    height: 50px;
}

/* custom clase bootstrap */
div.col-4{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.irArribaContainer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: start;
    justify-content: start;
    justify-items: start;
}

.footerText{
    margin-top: 20px;
    color: $black-color;
}

.paddingBottom10,
#footer div h4{
    padding-bottom: 10px;
}

/* borde izquierdo en footer */
// .borderLeft{
//     border-left: solid 1px black;
//     padding-left:50px;
// }

/* links comunicate con nosotros */
div.aContainer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: start;
    justify-items: end;
}

.infoContainer{
    display: flex;
    justify-content: center;
}

/* clase para los a del footer*/
.links{
    text-decoration: none;
    color: $black-color;
}

/* iconos de las redes en el footer */
.iconos{
    display: flex;
    width: 30px;
    height: 30px;
}

.iconos:hover{
    transform: scale(1.2);
    transition: transform .5s;
}

// icono de ubicacion
.ubicacion{
    color: $red-color;
}

// texto en ubicacion
.black{
    color: $black-color;
}

.linkHover:hover{
    color: $white-color;
    .iconos{
        transform: scale(1.2);
        transition: transform .5s;
    }
}

.paddingBotomFooter{
    padding-bottom: 20px;
}

/* derechos de autor iconos footer */


/* comodin */
.inline{
    display: inline;
}

.block{
    display: block;
}

.derechos{
    color: $white-color;
    font-size: 10px;
}
  /* ############## FIN FOOTER ############## */


/* ############ MEDIA QUERYS ################ */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px){
     /* footer: los botones que se dispongan en columnas en lugar de fila */
    .paddingBottomMobile{
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 767px){
     /* footer: cambio a borde superior en lugar de borde izquierdo */
    /* aumento separación entre filas*/
    .borderTop{
        border-left: none;
        border-top: ridge 1px $black-color;
        // margin-top: 20px;
    }
    .borderLeft{
        padding-left: 10px;
    }

    .logoBigger{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
/* ########## FIN MEDIA QUERYS ############### */