/* ########### variables SASS ############# */
// colores
$orange-color: #ec741d;
$white-color: white;
$black-color: black;
$darkblue-color: #0B2447;

/* ############## FORM #################### */
.formulario{
    background-color: $orange-color;

}

.margin20{
    margin: 20px;
}

// centrado los botones
.botones-container{
    display: flex;
    justify-content: center;
}

// que las imágenes se acomoden una debajo de otra
.wrap{
    flex-wrap: wrap;
}

  /* ############# INPUT IMPORTADO ############# */
  /* https://uiverse.io/eslam-hany/strange-goose-48#fromHistory */
.input {
    padding: 10px;
    height: 40px;
    border: 2px solid $darkblue-color;
    border-top: none;
    border-bottom: none;
    font-size: 16px;
    background: white;
    outline: none;
    box-shadow: 7px 7px 0px 0px $darkblue-color;
    transition: all 0.5s;
}

.input:focus {
    box-shadow: none;
    transition: all 0.5s;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $darkblue-color;
    transition: all 0.5s;
    transform: scale(0);
    z-index: -1;
}

.input-container .topline {
    position: absolute;
    content: "";
    background-color: $darkblue-color;
    width: 0%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .topline {
    width: 35%;
    transition: all 0.5s;
}

.input-container .underline {
    position: absolute;
    content: "";
    background-color: $darkblue-color;
    width: 0%;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .underline {
    width: 100%;
    transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .label {
    top: -10px;
    transform: scale(1);
    transition: all 0.5s;
}

.form {
    --width-of-input: auto;
    --border-height: 1px;
    --border-before-color: $white-color;
    --border-after-color: $orange-color;
    --input-hovered-color: $darkblue-color;
    position: relative;
    width: var(--width-of-input);
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
/* styling of Input */
.input {
    color: $black-color;
    font-size: 0.9rem;
    background-color: $white-color;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
/* Hover on Input */
input:hover {
    /* background: var(--input-hovered-color); */
    background: $white-color;
}

input:focus {
    outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
    width: 100%;
}
/* ############## FIN INPUT IMPORTADO ################ */

/* ############ Botón "Rojo" customizados ############ */
// fuente: https://uiverse.io/satyamchaudharydev/purple-rat-85 
form fieldset div button.boton {
    position: relative;
    width: 145px;
    border: none;
    background: $white-color;
    color: $black-color;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    letter-spacing: 1px;
    box-shadow: 7px 7px 0px 0px $darkblue-color;
}

button.boton:hover {
    color: $orange-color;
}

button.boton:active {
    top: 4px;
    box-shadow: 7px 7px 0px 0px $darkblue-color;
}
/* ############ FIN Botón "Rojo" ############ */


/* ############ CUADRO DE TEXTO IMPORTADO ############ */
/* https://uiverse.io/ahmed150up/chilly-rattlesnake-8 */
.card {
    width: 260px;
    background-color: $white-color;
    border: 1px solid $white-color;
    border-radius: 5px;
    box-shadow: 2px 2px 5px $darkblue-color;
}

.chat-header {
    background-color: $darkblue-color;
    color: $white-color;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-window {
    height: 220px;
    overflow-y: scroll;
}

.message-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid $white-color;
}

.message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.send-button {
    border: none;
    outline: none;
    background-color: $darkblue-color;
    color: $white-color;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.send-button:hover {
    background-color: $white-color;
    color: $black-color;
    box-shadow: 0 4px 18px 0 $darkblue-color;
}

/* input text area */
.textArea{
    padding: 10px;
    border-top: none;
    border-bottom: none;
    font-size: 16px;
    background: $white-color;
    outline: none;
    resize: none;
    box-shadow: 7px 7px 0px 0px $darkblue-color;
    transition: all 0.5s;
}

.textArea:focus {
    box-shadow: none;
    transition: all 0.5s;
}
/* ######## FIN DE CUADRO DE TEXTO IMPORTADO ######### */


  /* ################## FIN FORM #################### */


/* ################# MEDIA QUERYS ################### */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px){
    /* footer: los botones que se dispongan en columnas en lugar de fila */
    .botones-container{
        flex-direction: column;
        align-items: center;
       /* justify-content: start; */
    }
}
/* ############# FIN MEDIA QUERYS ################## */
