/* ############## FORM #################### */
.formulario{
    background-color: #ec741d;
    background-size: contain;
    background-position: center;
    /* width: 400px; */
}

.formulario div{
    padding: 5px;
}

  /* ############# INPUT IMPORTADO ############# */
  /* https://uiverse.io/eslam-hany/strange-goose-48#fromHistory */
.input {
    padding: 10px;
    height: 40px;
    border: 2px solid #0B2447;
    border-top: none;
    border-bottom: none;
    font-size: 16px;
    background: white;
    outline: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
    transition: all 0.5s;
}

.input:focus {
    box-shadow: none;
    transition: all 0.5s;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0B2447;
    transition: all 0.5s;
    transform: scale(0);
    z-index: -1;
}

.input-container .topline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .topline {
    width: 35%;
    transition: all 0.5s;
}

.input-container .underline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .underline {
    width: 100%;
    transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .label {
    top: -10px;
    transform: scale(1);
    transition: all 0.5s;
}

.form {
    --width-of-input: 320px;
    --border-height: 1px;
    --border-before-color: rgb(255, 255, 255);
    --border-after-color: #ec741d;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}
/* styling of Input */
.input {
    color: #000000;
    font-size: 0.9rem;
    background-color: rgb(255, 255, 255);;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
/* Hover on Input */
input:hover {
    /* background: var(--input-hovered-color); */
    background: white;
}

input:focus {
    outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
    width: 100%;
}
/* ########### FIN INPUT IMPORTADO ########### */

/* ############ Botón "Rojo" customizados ############ */
// fuente: https://uiverse.io/satyamchaudharydev/purple-rat-85 
form fieldset div button.boton {
    --bg: white;
    --text-color: black;
    position: relative;
    width: 145px;
    border: none;
    background: var(--bg);
    color: black;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    letter-spacing: 1px;
    box-shadow: 7px 7px 0px 0px #0B2447
}

button.boton:hover {
    color: #ec741d;
}

button.boton:active {
    top: 4px;
    box-shadow: 7px 7px 0px 0px #0B2447
}
/* ############ FIN Botón "Rojo" ############ */


/* CUADRO DE TEXTO IMPORTADO */
/* https://uiverse.io/ahmed150up/chilly-rattlesnake-8 */
.card {
    width: 260px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-window {
    height: 220px;
    overflow-y: scroll;
}

.message-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.send-button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

/* input text area */
.textArea{
    padding: 10px;
    border-top: none;
    border-bottom: none;
    font-size: 16px;
    background: white;
    outline: none;
    resize: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
    transition: all 0.5s;
}

.textArea:focus {
    box-shadow: none;
    transition: all 0.5s;
}

  /* ############## FIN FORM ################## */