/* TODO! */
*{
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Varela Round', sans-serif;
}

/* ########### variables SASS ############# */
// colores
$orange-color: #ec741d;
$white-color: white;
$black-color: black;
$shadow-color: #383838;
$shadowImg-color: rgb(39, 41, 37);
$darkblue-color: rgb(12, 12, 94);

// quedaba un margen desparejo en las imagenes
.row {
    --bs-gutter-x: 0;
}

/* ############# CONFIG GRAL ############# */
/* TEXTOS */
h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
    padding: 10px;
    top: 0;
}

h3{
    padding-right: 0;
    margin-right: 0;
    top: 0;
}

p{
    margin-bottom: 0;
}

.orange{
    color: $orange-color;
}

.black{
    color: $black-color;
}

.darkblue{
    color: $darkblue-color;
}

.cursiva{
    font-style: oblique;
}

.negrita{
    font-weight: bold;
}

.alineaIzq{
    text-align: start;
}
/* FIN TEXTOS */

.imagenResponsive{
    max-width: 100%; 
    height: auto;
}

.imageBorder{
    padding: 0;
    box-shadow: 0 0 5px $shadowImg-color;
    border-radius: 20px;
}

  /* FIN IMÁGENES */

  /* PADDING */
.padding10{
    padding: 10px;
}

.padding20{
    padding: 20px;
}

@mixin paddingTitulo($size) {
    padding: $size ;
}

.paddingTitulo{
    @include paddingTitulo(30px)
}

.paddingR10{
    padding-right: 10px;
}

.padding0100{
    padding: 0 100px;
}

.paddingTop10{
    padding-top: 10px;
}

.paddingTop20{
    padding-top: 20px;
}

.paddingBottom10{
    padding-bottom: 10px;
}

.paddingBottom20{
    padding-bottom: 20px;
}
/* FIN PADDING */

/* MARGIN */
.margin10{
    margin: 10px;
}

.margin20{
    margin: 20px;
}

.marginLeft20{
    margin-left: 20px;
}

.marginLeft50{
    margin-left: 50px;
}

.margin050{
    margin: 0 50px;
}

.marginTop5{
    margin-top: 5px;
}

.marginTop10{
    margin-top: 10px;
}

.marginTop20{
    margin-top: 20px;
}

.marginTop30{
    margin-top: 30px;
}

.marginTop50{
    margin-top: 50px;
}

.marginTop70{
    margin-top: 70px;
}

.marginTop100{
    margin-top: 100px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.marginBottom50{
    margin-bottom: 50px;
}
/* FIN MARGIN */

.positionControlIcon{
    justify-content: flex-start;
}

/* ########### FIN CONFIG GRAL ########### */

// whatsapp titilando
// fuente: https://www.youtube.com/watch?v=700m8-yu5Hw&list=LL&index=7
#whatsapp .whatsapp{
    position: fixed;
    transform: all .5s ease;
    background-color: #25d366;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 180px;
    Right: 20px;
    border: 0;
    z-index: 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

#whatsapp .whatsapp:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

#whatsapp .whatsapp:focus{
    border: none;
    outline: none;
}

@keyframes pulse-border{
    0%{
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


/* ############ MEDIA QUERYS ################ */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px){
    /* los titulos de las páginas tienen un margen de 100 en desktop.
    En mobile, como navbar mas chico, hay más separación, achico un poco */
    .marginTop100{
        margin-top: 70px;
    }
}

@media screen and (max-width: 992px){
    .cotaImagenSection{
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 600px){
    div.marginTop0{
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px){
    div.marginTop0{
        margin-top: 0px;
    }
    .row{
        column-gap: 5px;
        flex-wrap: nowrap;
    }

    /* carousel (index). Lo desplazo hacia arriba,
    pero al hacerlo, hago que el navbar quede arriba del carousel
    y opaco de color blanco 
    */
    .carousel{
        margin-top: -50px;
    }
    .navbar{
        z-index: 1;
    }
    .carousel-control-prev {
        z-index: 0;
    }
}
/* ########## FIN MEDIA QUERYS ############### */

