/* TODO! */
*{
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Varela Round', sans-serif;
}

/* USAR UN GIF DE LOADER */
/* fuente: https://www.youtube.com/watch?v=b9zyKCsUJfY */
#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: white url(/imgs/gifs/puntitosLoading3.gif) no-repeat center center;
}

/* durante el loader, que oculte el contenido de la página */
.hidden{
    overflow: hidden;
}

/* ############## HEADER ################## */
/* headerv3: hover subrayado, animación y shadow */
.logoHeader{
    width: 50px;
    height: 50px;
}

.logoTitulo{
    width: 100px;
    height: 100px;
}

.imagenMain{
    top: 10px; 
    box-shadow: 0 0 15px #383838;
}

.imagenMainContainer{
    background-color: #ec741d;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 25px;
}

/* navbar: cambio el color de bootstrap */
.navColor{
    background-color: white;
    justify-content: space-evenly;
    transition: .3s;
}

/* navbar: agrego sombra */
.navShadow{
    box-shadow: 0 0 15px #383838;
}

/* navbar: animacion underline when hover */
/* fuente: https://www.youtube.com/watch?v=wQx6fIkmJpM */
.navAEffect{
    transition: .3;
    text-shadow: 0 0 .2px rgb(32, 32, 32);
}
.navAEffect:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ec741d;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.navAEffect,
.navAEffect:hover:after{
    transform: scale(1);
    transform-origin: bottom left;
}
/* ############ FIN DE HEADER ############ */

// animación imágenes index
.skew{
    // margin-top: 10px;
    transition: transform 1s;
}

.skew:hover{
    transform: skew(-1deg);
}


/* ############# CONFIG GRAL ############# */
/* TEXTOS */
h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
    padding: 10px;
    top: 0;
}

h3{
    padding-right: 0;
    margin-right: 0;
    top: 0;
}

p{
    margin-bottom: 0;
}

.textoNews{
    font-size: x-large;
}

.orange{
    color: #ec741d;
}

.black{
    color: #000000;
}

.cursiva{
    font-style: oblique;
}

.negrita{
    font-weight: bold;
}

.alineaIzq{
    text-align: start;
}
/* FIN TEXTOS */

/* IMÁGENES */
.cotaImagenSection{
    height: 500px;
    width: 280px;
}

.imagenResponsive{
    max-width: 100%; 
    height: auto;
}

  /* achicar imágenes en forma proporcional */
.scaled-8{
    transform: scale(0.8); 
    /* Igual que: scaleX(0.5) scaleY(0.5) */
}

.imageBorder{
    padding: 0;
    box-shadow: 0 0 10px rgb(39, 41, 37);
}
  /* FIN IMÁGENES */

  /* PADDING */
.padding10{
    padding: 10px;
}

.padding20{
    padding: 20px;
}

.padding0100{
    padding: 0 100px;
}

.paddingTop10{
    padding-top: 10;
}

.paddingTop20{
    padding-top: 20;
}

.paddingBottom10{
    padding-bottom: 10px;
}

.paddingBottom20{
    padding-bottom: 20px;
}
/* FIN PADDING */

/* MARGIN */
.margin10{
    margin: 10px;
}

.margin20{
    margin: 20px;
}

.marginLeft20{
    margin-left: 20px;
}

.marginLeft50{
    margin-left: 50px;
}

.margin050{
    margin: 0 50px;
}

.marginTop10{
    margin-top: 10px;
}

.marginTop20{
    margin-top: 20px;
}

.marginTop30{
    margin-top: 30px;
}

.marginTop50{
    margin-top: 50px;
}

.marginTop70{
    margin-top: 70px;
}

.marginTop100{
    margin-top: 100px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.marginBottom50{
    margin-bottom: 50px;
}
/* FIN MARGIN */
/* ########### FIN CONFIG GRAL ########### */

/* ########### CONTAINERS ########### */
.imagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 20px;
}

.ContainerNews{
    display: flex;
    flex-direction: row;
}
/* ######### FIN CONTAINERS ######### */


/* ############ MEDIA QUERYS ################ */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px){
    /* navbar: que no se vea el logo*/
    header nav .logoHeader{
        display: none;
    }

    /* navbar: aunque el logo no se muestre, quedaba un margin extra debido a este elemento, así que lo compenso con un margin negativo */
    .navbar{
        margin-left: -10px;
    }

    /* navbar: achico la fuente para que quede en una sola fila */
    .fuenteMobile{
        font-size: 12px;
    }

    /* navbar: que haya menos margen/separacion entre los elementos */
    .navbar div,
    .navbar a{
        display: flex;
        margin: 0;
    }

    /* los titulos de las páginas tienen un margen de 100 en desktop.
    En mobile, como navbar mas chico, hay más separación, achico un poco */
    .marginTop100{
        margin-top: 70px;
    }

    .ContainerNews{
        flex-direction: column;
    }
}

@media screen and (min-width: 600px){
    div.marginTop0{
        margin-top: 50px;
    }
}
@media screen and (min-width: 992px){
    div.marginTop0{
        margin-top: 0px;
    }
}
/* ########## FIN MEDIA QUERYS ############### */
