/* ########### variables SASS ############# */
// colores
$orange-color: #ec741d;
$white-color: white;
$black-color: black;
$shadow-color: #383838;

/* ############## HEADER ################## */
.logoHeader{
    width: 40px;
    height: 40px;
}

.logoHeader2{
    width: 130px;
    height: 30px;
}

/* navbar: cambio el background color de bootstrap */
.navColor{
    background-color: $white-color;
    justify-content: space-evenly;
    --bs-bg-opacity: 1;
}

// navbar: cambio el padding
.navbar{
    padding: 7px;
}

/* navbar: agrego sombra */
.navShadow{
    box-shadow: 0 0 15px $shadow-color;
}

// menu hamburguesa (mobile) borde
.navbar-toggler{
    color: $orange-color;
}

// color de los links
.nav-link{
    color: $black-color;
}

/* navbar: que se vea el logo para todo device*/
.navbar-brand{
    display: contents;
}

/* #################################################### */
/* navbar: animacion underline when hover */
/* fuente: https://www.youtube.com/watch?v=wQx6fIkmJpM */
.underline{
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.underline:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $orange-color;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.underline:hover:after{
    transform: scale(1);
    transform-origin: bottom left;
}
// navbar: fin de animación underline
/* ########################################## */
/* ############ FIN DE HEADER ############### */


/* ############ MEDIA QUERYS ################ */
@media screen and (max-width: 992px){
    .cotaImagenSection{
        width: 250px;
        height: 250px;
    }
    .navbar div, .navbar a,
    .navbar-nav {
        align-items: center;
    }
}
/* ########## FIN MEDIA QUERYS ############### */
