$darkblue-color: #172236;
$white-color: white;

.nosotrosContainer{
    align-items: flex-start;
}

.nosotros{
    font-size: x-large;
    margin-left: 20px;
}

.sombra{
    box-shadow: 0 0 15px #383838;
}

.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagenMain{
    top: 10px; 
    box-shadow: 0 0 15px #383838;
}

.imagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 20px;
}

.imagenMainContainer{
    background-color: #ec741d;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 25px;
}

/* cursor arriba del accodion */
.cursor{
    width: 50px;
    height: 50px;
}
/* ############### ACCORDION ############### */
/* acordeon / accordion custom colores bootstrap index */
.accordion-button:not(.collapsed) {
    background-color: #ec741d;
    --bs-accordion-btn-focus-box-shadow: white;
    color: black;
}

.accordion-button:focus {
    border: solid 3px #ec741d;
    --bs-accordion-btn-focus-box-shadow: white;
}
/* ########### FIN ACCORDION ############ */

.centrado{
    justify-content: center;
}
.stretch{
    display: flex;
    align-items: stretch;    
}


// card importada
// https://uiverse.io/eslam-hany/selfish-bobcat-73
.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    // background-color: whitesmoke;
    background-color: $darkblue-color;

    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}

.cover {
    top: 0;
    position: absolute;
    // background-color: lightgray;
    background-color: $white-color;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book:hover .cover{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

.pBook{
    font-size: 20px;
    font-weight: bolder;
}

.pBookHover{
    @extend .pBook;
    &:hover{
        font-size: 23px;
    }
}
