/* ############# PAG SERVICIOS ############# */
.botones-container{
    display: flex;
}

.servicioContainer{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.servicios{
    width: 50%;
}

.agrandar{
    transition: transform 2s;
}

.agrandar:hover{
    transform: scale(1.1);
    /* se puede agregar mas de un transform a un elemento, poniendo espacio */
}

/* ############ BOTON DESCARGA PROPUESTA ############ */
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
    to left,
        #eb7927 0%,
        #f87a20 8%,
        #f87a20 92%,
        #eb7927 100%
    );
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #ec741d;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}

/* ########### FIN PAG SERVICIOS ########### */

/* ############ MEDIA QUERYS ################ */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px){
  /* pag servicios */
    .servicioContainer{
        flex-direction: column;
    }
    .servicios{
        width: 80%;
    }
}

/* ########## FIN MEDIA QUERYS ############### */