/* ############# PAG SERVICIOS ############# */
.botones-container{
    display: flex;
}

.servicioContainer{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.servicios{
    height: 500px;
}

.agrandar{
    transition: transform 2s;
}

.agrandar:hover{
    transform: scale(1.1);
    /* se puede agregar mas de un transform a un elemento, poniendo espacio */
}

/* ########### FIN PAG SERVICIOS ########### */

/* ############ MEDIA QUERYS ################ */
/* Condición: para vistas HASTA 600px */
@media screen and (max-width: 600px){
  /* pag servicios */
    .servicioContainer{
        flex-direction: column;
    }
}
/* ########## FIN MEDIA QUERYS ############### */